.navbarWrap{
    display: flex;
    height: 44PX;
    width: '100%';
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.title{
    
}

.navLeft{
    font-size: 48px;
    position: absolute;
    left: 40px;
}