
.at-tabs__header{
    background-color: rgba(0,0,0,0);
}

.at-tabs__item--active{
    font-size: 36px;
    color: black;
}

.at-tabs__item-underline{
    width: 16%;
    left: 42%;
    background-color: #000;
}

.at-tabs__underline{
    background-color: transparent;
}
